@charset "UTF-8";
html {
  font-size: 62.5%;
}
html header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 6.0rem;
  padding: 0rem 2.0rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #e4e4e4;
}
html header .flex {
  display: flex;
  width: 100%;
  align-items: center;
}
html header .flex .menu-trigger {
  display: inline-block;
  position: relative;
  width: 3.6rem;
  height: 2.8rem;
  vertical-align: middle;
  cursor: pointer;
}
html header .flex .menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  transition: all .5s 0s;
}
html header .flex .menu-trigger span:nth-of-type(1) {
  top: 0;
}
html header .flex .menu-trigger span:nth-of-type(2) {
  top: 1.2rem;
}
html header .flex .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
html header .flex .menu-trigger .active {
  background-color: red;
}
html header .flex .menu-trigger .active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
html header .flex .menu-trigger .active span:nth-of-type(2) {
  opacity: 0;
}
html header .flex .menu-trigger .active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}
html header .flex .icon {
  font-weight: bold;
  margin-left: auto;
  color: white;
}
html main .pagetop {
  position: relative;
}
html main .pagetop .icon {
  position: fixed;
  background-color: #ececec;
  width: 4.0rem;
  height: 4.0rem;
  line-height: 2.0;
  text-align: center;
  bottom: 2.0rem;
  right: 1.0rem;
  z-index: 9999;
}
html main .bk {
  width: 100%;
  height: 6.0rem;
}
html main nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  display: none;
  position: fixed;
  top: 6.0rem;
  left: 0;
  z-index: 1;
}
html main nav ul {
  padding: 2.0rem 0;
}
html main nav ul li {
  padding: 0.5rem 0;
}
html main nav ul li:hover {
  transition: all .5s 0s;
  color: red;
}
html main nav ul li:nth-of-type(1) {
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 2px solid red;
}
html main .cover {
  background: url("img/header_3_2.jpg");
  background-size: cover;
  position: relative;
  height: 30rem;
  /* background-size:cover; */
  /* margin-top: px; */
  /* d-md-none */
}
html main .cover .tex {
  position: absolute;
  left: 0%;
  bottom: 0%;
  text-align: center;
  margin: auto;
  width: 100%;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Times New Roman',serif;
}
html .top {
  margin: 3.0rem 0rem;
}
html .top .container .row img {
  border-radius: 50%;
  margin-bottom: 6.0rem;
  width: 100%;
}
html .top .container .row .cap .tex_1 {
  font-weight: bold;
  font-size: 3.6rem;
}
html .top .container .row .cap .tex_2 {
  font-weight: bold;
  font-size: 1.8rem;
}
html .top .container .row .cap .tex_3 {
  font-weight: bold;
  font-size: 1.8rem;
}
html .middle {
  margin: 10.0rem 0rem;
}
html .middle .row .B_1 {
  /* display: inline-block; */
  position: relative;
  font-size: 4.0rem;
  font-weight: bold;
  margin-bottom: 5.0rem;
}
html .middle .row .B_1:before {
  content: '';
  position: absolute;
  left: 0%;
  top: -0.15rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 5.0rem;
  /*下線の幅*/
  height: 0.2rem;
  /*下線の太さ*/
  background-color: #666666;
  /*下線の色*/
}
html .middle .row .box {
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 1rem #d9d9d9;
  height: 100%;
  margin: 1.0rem;
  padding: 2.0rem;
}
html .middle .row .box i {
  font-size: 5.0rem;
}
html .middle .row .box h6 {
  color: #6c757d;
}
html .bottom .B_1 {
  position: relative;
  font-size: 4.0rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5.0rem;
}
html .bottom .B_1:before {
  content: '';
  position: absolute;
  left: 0%;
  top: -1.5rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 5.0rem;
  /*下線の幅*/
  height: 0.2rem;
  /*下線の太さ*/
  background-color: #666666;
  /*下線の色*/
}
html .bottom .row .col-12 {
  margin-bottom: 3.0rem;
}
html .bottom .row .col-12 .sample2 {
  width: 60%;
  height: 40%;
  /* overflow:		hidden; */
  margin: auto;
  position: relative;
  text-align: center;
}
html .bottom .row .col-12 .sample2 img {
  /* max-width:600px; */
  /* max-height:400px; */
  object-fit: cover;
  border-radius: 0.1rem;
  padding: 0.4rem;
  border-width: 0.4rem;
  width: 100%;
}
html .bottom .row .col-12 .sample2 .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
html .bottom .row .col-12 .sample2 .mask:hover {
  opacity: 1;
  /* マスクを表示する */
  padding-top: 8.0rem;
  /* ホバーで下にずらす */
}
html .bottom .row .col-12 .sample2 .mask .caption {
  font-size: 130%;
  text-align: center;
  color: #fff;
}
html .bottom .row .col-12 footer {
  text-align: center;
  margin: 0rem 4.0rem;
}
html .bottom .row .col-12 footer .border {
  border-top: solid 0.5px #484848;
}
html .bottom .row .col-12 footer .tex_1 {
  display: flex;
  align-items: center;
}

/* @media screen and (min-width:1000px) {
.cover { background:url("img/header.jpg") ;
background-size:cover;
height: 250px;}
} */
/* .navbar-toggler {
background: url("img/logo.png")
no-repeat left center;
background-size: contain;
height: 50px;
width: 100px;
} */
/* .A_1 > .container{
max-width:100% !important;

margin-bottom:40px;
}
.A_2  > .container{
width: 100% !important;;
margin-bottom:40px;
} */
/* small */

/*# sourceMappingURL=styles.css.map */
